
.form__content {
    padding-top: 24px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.form__text-field {
    width: 100%;
}
.form__text-field-container {
    margin-bottom: 24px;
    width: 100%;
}
.form__text-field-container label {
    background-color: #fff;
}
.form__actions-container {
    display: flex;
    justify-content: flex-end;
}
.form__action-item {
    margin-right: 16px;
}